<div th:replace="components/head :: fragment"></div>
<div th:replace="components/header:: fragment"></div>
<body>

<div class="cont">
    <div class="title">
        <span class="title_text_main">
            Employees List
        </span>
        <span class="title_text_sub">
                <span>
                Check details about every user present in DB.
                </span>
    </div>
    <div class="fill">





    </div>
</div>
</body>
<div th:replace="components/footer:: fragment"></div>