<div th:replace="components/head :: fragment"></div>
<div th:replace="components/header:: fragment"></div>
<body>

<div class="cont">
  <div class="title">
        <span class="title_text_main">
            Change password
        </span>
    <span class="title_text_sub">
                <span>
                You can change your password here.
                </span>
        </span>
  </div>
  <div class="fill">

      <form th:action="@{/employees/profile/change-password}" th:object="${employee}" method="POST" >

          <input type="hidden" class="form-control" th:field="*{id}"/>

          <div class="form-group">
              <label>Password</label>
              <input type="text" class="form-control" th:field="*{password}" placeholder="password" id="tbFormControll"/>
          </div>
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>



  </div>
</div>
</body>
<div th:replace="components/footer:: fragment"></div>

<script src="/assets/js/passwordInputEraser.js"></script>