<div th:replace="components/head :: fragment"></div>
<div th:replace="components/header:: fragment"></div>
<body>

<div class="cont">
    <div class="title">
        <span class="title_text_main">
            <p th:if="${employee.id != null}">Edit Employee details</p>
            <p th:if="${employee.id == null}">Add Employee</p>
        </span>
    </div>
    <div class="fill">

        <div th:replace="components/footer :: fragment"></div>

    </div>
</div>
</body>
<div th:replace="components/footer:: fragment"></div>