<div th:replace="components/head :: fragment" xmlns:sec="http://www.w3.org/1999/xhtml"></div>
<div th:replace="components/header :: fragment"></div>
<body>
<div class="cont">
    <div class="title">
        <span class="title_text_main">
            <span sec:authorize="isAuthenticated()">Add new employee</span>
            <span sec:authorize="isAnonymous()">Register</span>
        </span>
        <span class="title_text_sub">
            Use the form below to login.
        </span>
    </div>
    <div class="fill">

          <div th:replace="/authentication/register-form :: fragment">
    </div>

</div>
</div>
</body>
<div th:replace="components/footer :: fragment"></div>

<script src="/assets/js/passwordConfirmationChecker.js"></script>
